@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">This is a demo website where video rental clerks can register new movies, clients, and their rentals in their database.</p>
</div>
